In [2]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\swapnil\anaconda3\lib\site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\swapnil\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\swapnil\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\swapnil\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\swapnil\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\swapnil\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
insurance_dataset=pd.read_csv("insurance.csv")
insurance_dataset

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [6]:
insurance_dataset.shape

(1338, 7)

In [7]:
# encoding sex column
insurance_dataset.replace({'sex':{'male':0, 'female':1}}, inplace=True)

# encoding smoker column
insurance_dataset.replace({'smoker':{'yes':0, 'no':1}}, inplace=True)

# encoding region column
insurance_dataset.replace({'region':{'southeast':0, 'southwest':1, 'northeast':2, 'northwest':3}}, inplace=True)

In [8]:
insurance_dataset

      age  sex     bmi  children  smoker  region      charges
0      19    1  27.900         0       0       1  16884.92400
1      18    0  33.770         1       1       0   1725.55230
2      28    0  33.000         3       1       0   4449.46200
3      33    0  22.705         0       1       3  21984.47061
4      32    0  28.880         0       1       3   3866.85520
...   ...  ...     ...       ...     ...     ...          ...
1333   50    0  30.970         3       1       3  10600.54830
1334   18    1  31.920         0       1       2   2205.98080
1335   18    1  36.850         0       1       0   1629.83350
1336   21    1  25.800         0       1       1   2007.94500
1337   61    1  29.070         0       0       3  29141.36030

[1338 rows x 7 columns]

In [9]:
X = insurance_dataset.drop(columns='charges',axis=1)
y = insurance_dataset['charges']

In [10]:
print(y)

0       16884.92400
1        1725.55230
2        4449.46200
3       21984.47061
4        3866.85520
           ...
1333    10600.54830
1334     2205.98080
1335     1629.83350
1336     2007.94500
1337    29141.36030
Name: charges, Length: 1338, dtype: float64

In [11]:
print(X)

      age  sex     bmi  children  smoker  region
0      19    1  27.900         0       0       1
1      18    0  33.770         1       1       0
2      28    0  33.000         3       1       0
3      33    0  22.705         0       1       3
4      32    0  28.880         0       1       3
...   ...  ...     ...       ...     ...     ...
1333   50    0  30.970         3       1       3
1334   18    1  31.920         0       1       2
1335   18    1  36.850         0       1       0
1336   21    1  25.800         0       1       1
1337   61    1  29.070         0       0       3

[1338 rows x 6 columns]

In [12]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=5)

In [13]:
from sklearn.linear_model import LinearRegression

In [14]:
reg= LinearRegression()
reg.fit(X_train, y_train)

LinearRegression()

In [15]:
train_pred= reg.predict(X_train)

In [16]:
from sklearn import metrics

In [17]:
r2_train = metrics.r2_score(y_train,train_pred) #r squared value
print('R squared value:',r2_train)

R squared value: 0.742822839475102

In [18]:
test_pred= reg.predict(X_test)

In [19]:
r2_test = metrics.r2_score(y_test,test_pred) #r squared value
print('R squared value:',r2_test)

R squared value: 0.7772564555107724

In [20]:
input_data=(31,1,25.74,0,1,0)

# changing input data into numpy array
ip_data_numpy_array = np.asarray(input_data)

# reshape the array
ip_data_reshape = ip_data_numpy_array.reshape(1,-1)

prediction=reg.predict(ip_data_reshape)
print(prediction)

print('The insurance cost is USD', prediction[0])

[3733.46184612]
The insurance cost is USD 3733.461846124045

C:\Users\swapnil\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [46]:
new=pd.DataFrame({
    'age':18,
    'sex':1,
    'bmi':36.8,
    'children':0,	
    'smoker':1,
    'region':0,
},index=[0])

In [47]:
new

   age  sex   bmi  children  smoker  region
0   18    1  36.8         0       1       0

In [48]:
pred=reg.predict(new)
if pred[0]==0:
    print("Insurance Not Required")
else:
    print("Insurance Required")

Insurance Required

In [49]:
pred

array([4134.56686353])

In [35]:
import joblib

In [36]:
joblib.dump(reg,'model_joblib_insurance_cost')

['model_joblib_insurance_cost']

In [37]:
model=joblib.load('model_joblib_heart')

In [38]:
model.predict(new)

array([23695.68865599])

In [39]:
from tkinter import *

In [40]:
def show_entry_fields():
    p1=int(e1.get())
    p2=int(e2.get())
    p3=int(e3.get())
    p4=int(e4.get())
    p5=int(e5.get())
    p6=int(e6.get())
    model=joblib.load('model_joblib_insurance_cost')
    result=model.predict([[p1,p2,p3,p4,p5,p6]])

    if result == 0:
        Label(master,text="Insurance Not Required").grid(row=31)
    else:
        Label(master,text="Insurance Required").grid(row=31)

In [41]:
master= Tk()
master.title("Insurance cost Prediction System")

label=Label(master,text="Insurance cost Prediction System",bg="black",fg="white").grid(row=0,columnspan=2)

Label(master, text="Enter your Age").grid(row=1)
Label(master, text="Male or Female[0/1]").grid(row=2)
Label(master, text="Enter value of bmi").grid(row=3)
Label(master, text="Enter number of children").grid(row=4)
Label(master, text="smoker(0,1)").grid(row=5)
Label(master, text="Enter value of region").grid(row=6)

e1 = Entry(master)
e2 = Entry(master)
e3 = Entry(master)
e4 = Entry(master)
e5 = Entry(master)
e6 = Entry(master)

e1.grid(row=1,column=1)
e2.grid(row=2,column=1)
e3.grid(row=3,column=1)
e4.grid(row=4,column=1)
e5.grid(row=5,column=1)
e6.grid(row=6,column=1)

Button(master,text="Predict",command=show_entry_fields).grid()
label = Label(master, text=pred)  # Use Label (uppercase L) here
label.grid(row=7, column=1)
mainloop()

In [ ]:
from tkinter import *
import numpy as np

def show_entry_fields():
    # Collect input values from the user
    age = float(e1.get())
    gender = float(e2.get())  # 0 for Male, 1 for Female
    bmi = float(e3.get())
    children = int(e4.get())
    smoker = int(e5.get())  # 0 for non-smoker, 1 for smoker
    region = int(e6.get())  # Region code or other categorical variable

    # Example prediction using mock logic
    # In a real scenario, this should be a call to your trained model for prediction.
    features = np.array([[age, gender, bmi, children, smoker, region]])

    # For demonstration purposes, we'll mock a simple prediction
    pred1 = "Predicted Insurance Cost: $" + str(np.random.randint(1000, 10000))  # Mock prediction

    # Update the result label with the prediction
    result_label.config(text=pred1)

# Create the main window
master1 = Tk()
master1.title("Insurance Cost Prediction System")

# Add title label
Label(master1, text="Insurance Cost Prediction System", bg="black", fg="white").grid(row=0, columnspan=2)

# Add input labels and entry fields
Label(master1, text="Enter your Age").grid(row=1, column=0, sticky=W)
Label(master1, text="Male or Female [0/1]").grid(row=2, column=0, sticky=W)
Label(master1, text="Enter value of BMI").grid(row=3, column=0, sticky=W)
Label(master1, text="Enter number of children").grid(row=4, column=0, sticky=W)
Label(master1, text="Smoker [0/1]").grid(row=5, column=0, sticky=W)
Label(master1, text="Enter value of region").grid(row=6, column=0, sticky=W)

# Add input entry fields
e1 = Entry(master1)
e2 = Entry(master1)
e3 = Entry(master1)
e4 = Entry(master1)
e5 = Entry(master1)
e6 = Entry(master1)

# Grid the entry fields
e1.grid(row=1, column=1)
e2.grid(row=2, column=1)
e3.grid(row=3, column=1)
e4.grid(row=4, column=1)
e5.grid(row=5, column=1)
e6.grid(row=6, column=1)

# Add the 'Predict' button
Button(master1, text="Predict", command=show_entry_fields).grid(row=7, column=0, columnspan=2)

# Add the label to display prediction result
result_label = Label(master1, text="")
result_label.grid(row=8, column=0, columnspan=2)

# Start the Tkinter event loop
mainloop()